.whatsapp-chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  
  .chat-messages {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-self: center;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .user-message {
    background-color: #DCF8C6;
    align-self: flex-end;
  }
  
  .chatbot-message {
    background-color: #E2E2E2;
    align-self: flex-start;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #128C7E;
  }